@font-face {
  font-family: 'Nunito';
  src: url('/Nunito.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/NunitoI.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: italic;
}

@font-face {
  font-family: 'GTMaru';
  src: url('/GTMaru.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
}

.maru {
  font-family: 'GTMaru', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
}
