@import url('./reset.css');
@import url(./font.css);

/* GLOBALS */
html {
  color: white;
  background-color: black;
  color-scheme: dark;
}

.center {
  display: grid;
  place-items: center;
}

.w100 {
  width: 100%;
}
