.blog {
  padding: 1rem;
}

.blog h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 1.5rem;
}

.about {
  font-size: clamp(1rem, 0.513vw + 0.84rem, 1.25rem);
  line-height: clamp(1.6rem, 0.821vw + 1.344rem, 2rem);
  max-width: 800px;
  margin-top: 2rem;
}

.cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.warning {
  background-color: #6d0f0f;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  margin-top: 1rem;
}
