.title {
  width: 100%;
  height: min-content;
  padding: 2rem;
  padding-bottom: 0;
}

.header {
  text-align: center;
  line-height: 1;
  font-size: clamp(3.125rem, 16.166vw + -1.058rem, 11.875rem);
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  padding-top: 1rem;
  width: max(20vw, 150px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
