.title {
  width: 100%;
  height: min-content;
  padding: 2rem;
  padding-bottom: 0;
}

.card {
  padding-top: 1rem;
  width: max(20vw, 150px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
